@model WCAPP.Models.ProcessModels.SubmitApproveModel

@{  
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    var style = new {style = "font-size:14px;color:red"};
    @Html.ValidationMessage("Error", style)
    
    <table style="border: none; margin: 10px; z-index: 10; position: relative">
        <tr>
            <td style="padding: 8px">
                <span style="width: 100px; display: inline-block">校对</span>
                @Html.DropDownListFor(m => m.ProoferId, (List<SelectListItem>) ViewBag.Approvers, "-- 请选择 --")
                <span>@Html.ValidationMessageFor(m => m.ProoferId, "请输入校对人工号", style)</span>
            </td>
        </tr>
        <tr>
            <td style="padding: 8px">
                <span style="width: 100px; display: inline-block">审核</span>
                @Html.DropDownListFor(m => m.ApproverId, (List<SelectListItem>) ViewBag.Approvers, "-- 请选择 --")
                <span>@Html.ValidationMessageFor(m => m.ApproverId, "请输入审核人工号", style)</span>
            </td>
        </tr>
        <tr>
            <td style="padding: 8px">
                <input type="submit" value="提交" class="btn btn-primary">
            </td>
        </tr>
    </table>
}




